body{
    font-family: sans-serif;
    margin: 0;
    background-color: #ff6f45;
}
.demo {
    overflow: hidden;
    background-color: #f048ff !important;
    background: linear-gradient(90deg, #48daff 0%, #ffd445 100%);
}

/* NavBar section + responsive section "Start" */
.nav1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: fixed;
    z-index: 1;
}
.nav2{
    color: white;
}
.nav3{
    display: flex;
    list-style-type: none;
    margin-top: 10px;
}
.nav3 li{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
.nav4{
    margin-top: 20px;
    display: flex;
}
.nav4 input {
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: 45px;
    width: 150px;
    border-radius: 50px;
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
}
.nav-icon {
    color:white;
    font-size: 40px;
    display: none;
}
/* Responsive Start */
@media screen and (max-width:991px) {
    .nav1 {
        display: flex;
        width: 60%;
    }
    .nav3 {
        display: none;
    }
    .nav4 input {
        display: none;
    }
    .nav-icon {
        display: flex;
    }
}
@media screen and (max-width:767px) {
    .nav1 {
        display: flex;
        justify-content: space-around;
    }
}
/* Compelete End with Responsive */

/* First Background image section and write content on it "Start" */
.start1{
    background:blue;
}
.start2{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.start2 img{
    opacity: 0.4;
    background-color:blue !important;
    background: linear-gradient(180deg, #6f0dd8 100%, blue 50%);
}
.start3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.start3 h1{
    color: white;
    font-size: 5rem;
    font-weight: bolder;
    line-height: 20px;
}
.start3 p{
    color: white;
    font-size: 1.4rem;
    line-height: 40px;
    word-spacing: 2px;
}
.start4 input{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
}

/* Responsive section */
@media screen and (max-width:991px) {
    .start1 {
        justify-content: center;
    }
    .start2 {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        justify-content: center;
    }
    .start3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    .start3 h1{
        text-align: center;
        font-size: 3rem;
    }
    .start3 p{
        color: white;
    font-size: 1rem;
    line-height: 30px;
    word-spacing: 1px;
    text-align: center;
    }
    .start4{
        text-align: center;
    }
    .start4 input {
        font-size: 15px;
        padding: 15px 30px;
    }
}
@media screen and (max-width:767px) {
    .start1 {
        justify-content: center;
    }
    .start3 h1{
        text-align: center;
        font-size: 1.5rem;
    }
    .start3 p{
        color: white;
        font-size: 0.8rem;
        line-height: 20px;
        word-spacing: 1px;
        text-align: center;
    }
    .start4{
        text-align: center;
    }
    .start4 input {
        font-size: 10px;
        padding: 10px 20px;
    }
}
/* Compelete End with Responsive */

        /* <!-- About Me section "Start" --> */

.about1{
    display: flex;
    margin: 0 10px;
}
.about2{
    width: 350px;
    height: 250px;
    margin-top: 50px;
    margin-left: 20px;
}
.about2 img{
    border-radius: 30px;
    width: 100%;
}
.about3{
    background-color: #E3E9FF;
    border-radius: 30px;
    width: 500px;
    height: 250px;
    margin: 100 20;
    padding: 50px;
}
.about3 h1{
    color: #052349;
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 40px;
}
.about4{
    display: flex;
}
.about4 p{
    font-size: 1rem;
    color: #545f6e;
}
/* Responsive Section */
@media screen and (max-width:991px) {
    .about1 {
        display: block;
        justify-content: center;
    }
    .about2 {
        width: 100%;
        height: auto;
    }
    .about2 img {
        width: 100%;
        height: auto;
    }
    .about3 {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .about3 h1{
        font-size: 5rem;
        line-height: 50px;
        margin-top: 100px;
    }
    .about4 {
        width: 100%;
        display: block;
    }
    .about4 p{
        font-size: 2rem;
        line-height: 50px;
    }
}
@media screen and (max-width:767px) {
    .about1 {
        justify-content: center;
        display: block;
    }
    .about3 h1{
        font-size: 4.1rem;
        line-height: 50px;
        margin-top: 100px;
    }
    .about4 p{
        font-size: 2rem;
        line-height: 50px;
    }
}
        /* <!-- About Me section compelete "end" with Responsive --> */

/* Featuers section in css start + responsive */
.featuer1{
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
}
.f1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.featuer-sub {
    display: flex;
}
.p1{
    color: white;
}
.p1 p{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 50px;
}
.featuer3{
    display: block;
    
}
.featuer4{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    border-radius: 30px;
    margin: 10px;
    padding: 20px;;
    width: 300px;
    height: 350px;
    line-height: 20px;
}
.featuer4 h1{
    font-weight: bold;
    font-size: 1.4rem;
}
.featuer4 p{
    color: #334255;
    font-weight: bold;
    font-size: 15px;
}
.featuer4 input{
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
    margin-top: 50px;
    border-radius: 50px;
    width: 160px;
    height: 50px;
    color: white;
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
}
#featuer4 .fa-solid{
    background-color: #E3E9FF;
    height: 50px;
    width: 50px;
    color: #6f0dd8;
    font-size: 2rem;
    padding: 15px;
    border-radius: 100%;

}
/* responsive part */
@media screen and (max-width:991px) {
    .featuer1 {
        width: 100%;
        text-align: center;
        background-repeat: repeat;
    }
    .featuer2 {
       width: 100%;
       height: auto;
    }
    .featuer2 img {
        width: 100%;
        height: 200%;
        object-fit: fill;
    }
    .featuer3 {
        justify-content: center;
    }
    .f1 {
        justify-content: center;
        display: flex;
        position: absolute;
        top: 10px;
        left: 2%;
        transform: translate(0%, 10%); 
    }
    .p1 p{
        font-size: 1.8rem;
        line-height: 35px;
    }
    .featuer-sub {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
    }
    .featuer4 {
        justify-content: center;
        width: 35%;
        padding: 2rem 2rem;
    }
    .featuer4 h1 {
        font-size: 1.5rem;
    }
    .featuer4 input {
        font-size: 18px;
        padding: 12px;
        margin-top: 35px;
        width: 180px;
        height: 50px;
    }
    .featuer4 .fa-solid {
        font-size: 2.5rem;
    }
 
}
@media screen and (max-width:767px) {
    .featuer1 {
        width: 100%;
        text-align: center;
        background-repeat: repeat;
    }
    .featuer2 {
       width: 100%;
       height: auto;
    }
    .featuer2 img {
        width: 100%;
        height: 250%;
    }
    .featuer3 {
        justify-content: center;
    }
    .f1 {
        display: block; 
    }
    .p1 p{
        font-size: 1.8rem;
    }
    .featuer-sub {
        display:block;
        width: 100%;
    }
    .featuer4 {
        width: 80%;
        height: auto;
        padding: 10px 10px;
        margin-left: 50px;
        line-height: 30px;
    }
    .featuer4 h1 {
        font-size: 2.5rem;
    }
    .featuer4 input {
        font-size: 18px;
        padding: 12px;
        margin-top: 35px;
        width: 50%;
        height: 50px;
    }
    .featuer4 .fa-solid {
        font-size: 2.5rem;
    }
}
/* Complete End with Responsive */


/* My Section Start */
.my1 {
 width: 100%;
 height: 500px;
 margin-top: 30px;
 display: flex;
 position: relative;
}
.my2{
    position: absolute;
    margin: 50 50;
    z-index: 1;
}
.my2 img{
   width: 100%;
   height: 350px;
   border-radius: 30px; 
}
.my3{
    position: absolute;
    width: 450px;
    height: 400px;
    margin-left: 520px;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 50px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    border-radius: 30px;
}
.my3 h1{
    color:#334255;
    font-size: 2.2rem;
    font-weight: bolder;
    line-height: 10px;
}
.my3 p{
    color: gray;
    font-size: 16px;
    line-height: 25px;
}
.my4 progress{
    width: 450px;
    margin: 0;
    line-height: 1px;
}
.my5{
    display: flex;
    justify-content: space-between;
}
.my5 h3{
    color: gray;
    font-weight: 200;
    font-size: 20px;
    line-height: 2px;
}
/* Responsive Section */
@media screen and (max-width:991px) {
  .my1 {
    display: block;
    position: relative;
    height: 200%;
    width: 100%;
  }
  .my2 {
    position: absolute;
  }
    .my2 img {
    width: 100%;
    height: 100%;
  } 
  .my3 {
    width: 70%;
    margin: 50;
    margin-top: 700PX;
  } 
}
@media screen and (max-width:767px) {
    .my1 {
      display: block;
      position: relative;
      height: 100%;
      width: 50%;
    }
    .my2 {
      position: absolute;
    }
      .my2 img {
      width: 50%;
      height: 100%;
    } 
    .my3 {
      width: 35%;
      margin: 30;
      margin-top: 350PX;
    } 
  }

/* Complete End With Responsive */

/* our pricing section start */
.our1{
    position: relative;
}
.our3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.our31{
    display: flex;
}
.our3 .p1{
    text-align: center;
    color:#052349;
}
.our4{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    border-radius: 30px;
    margin: 20px;
    padding: 30px 30px;
    width: 250px;
    height: 350px;
    line-height: 30px;
}
.our4 h1{
    font-weight: bolder;
    font-size: 3rem;
    color: #334255;
}
.our4 h2{
    font-weight: bolder;
    font-size: 1.8rem;
    color: #334255;
}
.our4 p{
    color: #334255;
    font-weight: bold;
    font-size: 17px;
}
.our4 input{
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
    margin-top: 30px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
}
/* Responsive */
@media screen and (max-width:991px) {
   .our1 {
    position: relative;
   }
   .our2 img {
    width: 100%;
    height: 200%;
   }
   .our3 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   .our31 {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
   }
   .our4 {
    width: 30%;
    height: auto;
   }
   .our4 h1 {
    font-size: 4rem;
   }
   .our4 h2 {
    font-size: 2rem;
   }
   .our4 input {
    font-size: 17px;
    height: 50px;
   }

}
@media screen and (max-width:767px) {
    .our1 {
        position: relative;
       }
       .our2 img {
        width: 100%;
        height: 250%;
       }
       .our3 {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
       .our31 {
        margin-left: 50px;
            display: flex;
            width: 90%;
            flex-wrap: wrap;
       }
       .our4 {
        width: 60%;
        height: auto;
       }
       .our4 h1 {
        font-size: 4rem;
       }
       .our4 h2 {
        font-size: 2rem;
       }
       .our4 input {
        font-size: 17px;
        height: 50px;
       }
}
/* Complete End with Responsive */

/* Clients section Start */
.clients1{
    position: relative;
}
.clients2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.clients2 h3{
    font-size: 25px;
    font-weight: 100;
    color: #334255;
}
.clients2 p{
    font-size: 30px;
    font-weight: bold;
    color:#334255;
}
.clients3{
    display: flex;
}
.clients4{
    margin: 20px;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}
.clients4 img{
    width: 150px;
    padding: 50px;
}
/* Responsive */
@media screen and (max-width:991px) {
    .clients1 {
        position: relative;
    }
    .clients1 img {
        width: 100%;
        height: 150%;
    }
    .clients2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        height: auto;
    }
    .clients3 {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
    }
    .clients4 {
        width: 40%;
        margin-left: 30px;
    }
    .clients4 img {
        width: 150px;
        height: auto;
    }
}
@media screen and (max-width:767px) {
    .clients1 {
        position: relative;
    }
    .clients1 img {
        width: 100%;
        height: 150%;
    }
    .clients2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        height: auto;
    }
    .clients3 {
        display: block;
        width: 90%;
        flex-wrap: wrap;
    }
    .clients4 {
        width: 70%;
        margin-left: 100px;
    }
    .clients4 img {
        width: 150px;
        height: auto;
    }
}
/* Complete End with Responsive */

/* feedback section start */
.feedback2{
    position: relative;
}
.feedback3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    height: 350px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(250, 248, 248, 0.3) 0%, rgba(252, 250, 250, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    opacity: 1;
}
.feedback3 h1{
    margin-top: 70px;
    font-size: 2rem;
    font-weight: bold;
    color:#334255;
}
.feedback4{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.feedback5{
   margin: 0 40;
    display: flex;
}
.feedback5 p{
    font-size: 17px;
    font-weight: bold;
    color: #334255;
    word-spacing:5px;
}
.feedback5 .fa-solid{
    font-size: 30px;
    color: #334255;
    padding:20px ;
}
.feedback5 .fa-regular{
    font-size: 30px;
    color: #334255;
    padding:20px ;
}
/* Responsive */
    @media screen and (max-width:991px) {
        .feedback2 {
            position: relative;
        }
        .feedback2 img {
            width: 100%;
            height: auto;
        }
        .feedback3 {
            width: 85%;
            height: 150%;
        }
        .feedback4 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .feedback5 {
            width: 35%;
        }
    }
    @media screen and (max-width:767px) {
       
        .feedback2 img {
            width: 100%;
            height: 150%;
        }
        .feedback3 {
            width: 85%;
            height:50%;
        }
        .feedback4 {
            display: block;
            width: 100%;
            justify-content: center;
        }
        .feedback5 {
            display:block;
            width: 80%;
        }
    }
    /* Complete End with Responsive */
/* Hello section start */

 .hello1{
    margin: 50 50;
    width:80%;
    height: 300px;
    text-align: center;
    background-color: #DFEAFE;
    border-radius: 30px;
    padding-top: 20px;
 }
 .hello1 h4{
    color: #334255;
    font-size: 20px;
    font-weight: 500;
 }
 .hello1 h1{
    color: #334255;
    font-size: 5.3rem;
    font-weight: bold;
 }
/* Responsive */
 @media screen and (max-width:991px) {
    .hello1 {
        margin: 50px;
        width: 80%;
        height: auto;
        padding-bottom: 10px;
    }
    .hello1 h1{
        font-size: 4rem;
    }
    .hello1 h4{
        font-size: 15px;
       
    }
}
 @media screen and (max-width:767px) {
    .hello1 {
        margin: 50px;
        width: 40%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hello1 h1{
        font-size: 1.5rem;
    }
    .hello1 h4{
        font-size: 11px;
    }
 }
 /* Compelete End with Responsive */

/* subscribe section start */
.subscribe2{
    position: relative;
    display: flex;
}
.subscribe3{
    display: flex;
    position: absolute;
    width: 90%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}
.subscribe3 h2{
    margin-top: 60px;
}
.subscribe4{
    width: ;
    height: 150px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(250, 248, 248, 0.3) 0%, rgba(252, 250, 250, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}
.subscribe4 input[type=text]{
    font-size: 17px;
    color: gray;
    font-weight: bold;
    height: 45px;
    width: 650px;
    margin: 30px;
    margin-left: 60;
    margin-top: 50px;
    padding: 20px;
}
.subscribe4 input[type=button]{
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 45px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
}
/* Responsive */
@media screen and (max-width:991px) {
    .subscribe1 {
        display: flex;
    }
    .subscribe2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .subscribe3 {
        display: block;
        width: 100%;
        margin: 50px;
    }
    .subscribe4 input[type=text]{
        width: 80%;
    }
}
@media screen and (max-width:767px) {
    .subscribe2 {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .subscribe3 {
        width: 100%;
    }
    .subscribe4 {
        width: 100%;
    }
    .subscribe4 input[type=text]{
        width: 50%;
    }
}
/* End */
/* Nmae Section Start */
.name1{
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
    margin: 100 100;
}
.name2{
    z-index: 1;
    position: absolute;
    margin-top: 50px;
}
.name2 img{
    width: 400px;
    height: 600px;
    border-radius: 30px;
}
.name3 {
    position: absolute;
    width: 500px;
    height: 250px;
    margin-top: 200px;
    margin-left: 420px;
    border-radius: 20px;
    z-index: 0;
    padding: 50px;
    background: linear-gradient(0deg, rgba(250, 248, 248, 0.3) 0%, rgba(252, 250, 250, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}
.name3 p{
    font-size: 1.5rem;
    font-weight: 200;
}
.name3 h4{
    font-size: 20px;
    font-weight: 100;
}
/* Responsive */
@media screen and (max-width:991px) {
    .name1 {
        display: block;
        width: 100%;
        height: 100%;
    }
    .name2 {
        display: block;
        width: 90%;
        height: auto;
    }
    .name2 img{
        width: 100%;
    }
    .name3 {
        width: 100%;
        margin-top: 700px;
        margin-left: 0;
    }
}
/* Form section Start */
.contact1{
    text-align: center;
    position: relative;
}
.contact2{
    margin-top: 50px;
    padding-top: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 70%;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(250, 248, 248, 0.3) 0%, rgba(252, 250, 250, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}
.contact2 h2{
    margin-top: -20px;
    font-size: 1.5rem;
    font-weight: 200;
}
.contact3 {
   
}
.contact3 input[type=text]{
    width:45% ;
    height: 35px;
    margin: 15px;
    font-size: 15px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(250, 248, 248, 0.3) 0%, rgba(252, 250, 250, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    border: none;
    padding: 25px;
}
.contact3 input[type=button]{
    width:94% ;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    color: white;
    padding: 10px 30px;
    margin: 15px;
}
.contact3 textarea{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    max-width: 94%;
    max-height: 200px;
    min-width: 94%;
    min-height: 200px;
    font-family: sans-serif;
    padding: 10px 30px;
    font-size: 1rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    backdrop-filter: blur(3.5px);
    border: none;
}

/* Responsive */
@media screen and (max-width:991px) {
    .contact1 {
        text-align: center;
        position: relative;
    }
    .contact2 {
        width: 100%;
    }
    .contact3 {
        margin: 20px;
    margin-top: 30px;
    }
    .contact3 input[type=text]{
        width: 94%;
        height: 40px;
        margin: 15px;
        font-size: 20px; 
    }
    .contact3 input[type=button] {
        width: 94%;
        height: 60px;
        font-size: 20px;
        margin: 15px;
        padding: 10px 30px;
    }
    .contact3 textarea {
         margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    max-width: 94%;
    max-height: 300px;
    min-width: 94%;
    min-height: 300px;
    font-family: sans-serif;
    padding: 10px 30px;
    font-size: 1rem;
    }
}
@media screen and (max-width:991px) {
    .contact1 {
        text-align: center;
        position: relative;
    }
    .contact2 {
        width: 100%;
    }
    .contact3 {
        margin: 20px;
    margin-top: 30px;
    }
    .contact3 input[type=text]{
        width: 94%;
        height: 40px;
        margin: 15px;
        font-size: 20px; 
    }
    .contact3 input[type=button] {
        width: 94%;
        height: 60px;
        font-size: 20px;
        margin: 15px;
        padding: 10px 30px;
    }
    .contact3 textarea {
         margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    max-width: 94%;
    max-height: 30%;
    min-width: 94%;
    min-height: 30%;
    font-family: sans-serif;
    padding: 5px 15px;
    }
}
/* End with Responsive */


/* Footer Section Start */
.footer1{
    color: white;
    background-color: black;
    width: 100%;
    height: auto;
}
.footer2{
    display: flex;
    margin: 0px 50px;
    padding: 30px;
    padding-top: 100px;
}
.footer3{
    width: 100%;
}
.footer3 p{
    font-size: 20px;
    line-height: 30px;
}
.footer4{
    display: flex;
    margin: 0px 50px;
}
.footer5{
    margin: 0px 50px;
}
.footer5 li{
    font-size: 18px;
    line-height: 30px;
    list-style-type: none;
    cursor: pointer;
}

/* responsive */
@media screen and(max-width:991) {
    .footer1 {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
    }
    .footer2 {
        display: block;
        margin: 0px 50px;
        padding: 30px;
        padding-top: 100px;
    }
    .footer3 {
        width: 100%;
    }
    .footer4 {
        width: 100%;
    }
}
@media screen and(max-width:767px) {
    .footer1 {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
    }
    .footer2 {
        display: block;
    }
    .footer3 {
        width: 100%;
    }
    .footer4 {
        display: block;
        width: 100%;
    }
    .footer5 {
        width: 100%;
    }

}
/* End */

