div {
    border: 1px solid gray;
    padding: 8px;
    border-radius: 20px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  
  a {
    text-decoration: none;
    color: #008CBA;
  }
  body {
    color: blue;
  }
  
  h1 {
    color: green;
  }
  h1 {
    background-color: black;
    color: white;
  }
  #A1{
    background-color: blue;
    color: white;
  }