div {
    width: 30%;
    margin: 70px;
    border: 1px solid #4CAF50;
    border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
  }

  .1{
    width: 300px;
    margin: auto;
    border: 1px solid red;
  }
  p.ex1 {
    margin-left: inherit;
  }