body{
    background-color: aliceblue;
    background-image: url(images/ffimg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;

}
div {
    background-color: green;
  }
  
  div.first {
    opacity: 0.1;
    background-image: url(images/dog.jpg);
  }
  
  div.second {
    opacity: 0.3;
  }
  
  div.third {
    opacity: 0.6;
  }
  