input[type=file]::file-selector-button{
    background-color: antiquewhite;
    border: 1px solid red;
    border-radius: 4PX;
    padding: 4px 10px;
}

input[type=file]::file-selector-button:hover{
    background-color: blueviolet;
    border: 1px solid crimson;
}