#borderradius{
    width:300px;
    padding: 30px;
    border:5px solid green;
    border-top-left-radius:30px ;
    border-top-right-radius:40px ;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:40px ;
}