body{
    font-family: Arial, Helvetica, sans-serif;
}

#box{
    border: 2px solid brown;
    background: lightblue;
    text-align: center;
    width: 300px;
    height:300px;
    cursor: pointer;
}