body{

}
img{
    filter: blur(1px);
    filter: brightness();
    filter: contrast();
    filter: drop-shadow();
    filter: grayscale();
    filter: hue-rotate();
    filter: invert();
    filter: none;
    filter: opacity();
    filter: saturate();
    filter: sepia();
    filter: url();
}