body{
 font-family: Arial, Helvetica, sans-serif;
}
table{
    border: 2px solid brown;
    border-collapse: separate;
    empty-cells: hide;
}

table tr td{
     border: 1px solid brown;
}
caption{
    caption-side: top;
}
tr:hover{

}

tr:nth-child(even){
    background: #f2f2f2;
}
 