body{

}
.base{
    width: 350px;
    height: 250px;
    background: grey;
    font-size: 18px;
    text-align: center;
    margin: 100px 0 0 100px;
}

#box{
    width: 350px;
    height: 250px;
    background: tomato;
    transform:perspective(800px) scale3d(2,2,1) rotateY(60deg) ;
}