#container{
    width: 600px;
    height: 600px;
    border :5px solid #000;
    background: url(images\ffimg.jpg);

    display: flex;
    align-items: center;
    justify-content: center;
}
#inner{
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: 2px solid red;
}