div {
    height: 200px;
    width: 50%;
    background-color: powderblue;
  }
  #A2{
    height: 200px;
    width
  }

  #A2{
    max-width: 500px;
  height: 100px;
  background-color: powderblue;
}
  }