div{
    width: 200px;
    height: 200px;
    position: absolute;
    border: 2px solid brown;
    font-size: 25px;
}

#box1{
    background: darkseagreen;
    top: 100px;
    left: 50px;
}

#box2{
    background: peachpuff;
    top: 150px;
    left: 100px;
    z-index: 1;
}

#box3{
    background: lightskyblue;
    top: 200px;
    left: 150px;
}