body{
    margin: 0;
    padding: 0;
   
}
#googleimg {
    width: 270px;
    margin: 150px 630px 0;
}
.form {
    border-radius: 55px;
    width: 100%;
    max-width: 600px;
    margin-left: 450px;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    box-shadow: 10px 10px 20px -15px ,-10px -10px 20px -15px rgba(0, 0, 0, 0.15);
}
#searchbtn {
    cursor: pointer;
    background: transparent;
    border: none;
    height: 10px;
    color: gray;
}
#search {
    font-size: 15px;
    width: 550px;
    border: 0;
    background: transparent;
    outline: none;    
}
#voicebtn {
    background: transparent;
    border: none;
    color: gray;
}
.fa-solid{
    width: 40px;
}
.Images {
  
   width: 50%;
   display: flex;
   margin-left: 400px;
   margin-top: 30px;

    
}

.icon {
   
    width: 10%;
    margin-left: 110px;
    margin-top: 10px;

}
.icon:hover{
    background-color: #f5f4f4;
}
.icon img {
    width: 60px;
    height: 40px;
    align-self: center;
    background: white;
    
}
.icon1 {
   
    width: 10%;
    margin-left: 110px;
    margin-top: 10px;
}
.icon1:hover{
    background-color:#f5f4f4;
}
.icon1 img {
    width: 45px;
    height: 40px;

}
.icon2 {
    width: 10%;
    margin-left: 110px;
    margin-top: 10px;
}
.icon2:hover{
    background-color: #f5f4f4;
}
.icon2 img {
    width: 60px;
    height: 40px;
    
}
.descg {
    padding-top: 5px;
    margin-top: 10px ;
}
.descy {
    margin-top: 10px ;
    padding: 3px;
}
.descw {
    margin-top: 10px ;
}