body{
    margin: 0;
    padding: 0;
}
.bgimg {
    background-image:url(images/back3.jpg) ;
    height: 100%;
    width: 100%;
    color: white;
   

}
.form {
    
    background-color:;
    border: 1px solid transparent;
    width: 400px;
    height: 600px;
    padding-top: 50px;
}
#form {
    margin-top: 50px;
}
#a1 {
    padding: 10px;
    color:white;
    width: 300px;
    height: 35px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    background-color:lightgray;
    opacity:0.7;
 
}
#a2 {
    padding: 10px;
    color: white;
    width: 300px;
    height: 35px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background-color: darkgrey;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#s1 {
    margin: 10px;
}
#s2 {
    margin-left: 60px;
    border: none;
    background-color: transparent;
    color: white;
    margin: 10px;
}
#q1 {
    width: 150px;
    height:35px ;
    border-radius: 10px;
    border: none;
    margin: 10px;
}
#s3 {
    padding: 10px;
}