body {
   background-color:black;
}

#navtop {
    margin: 20px;
  
}
.s1 {
    float: right;
    background-color:rgb(154, 164, 173) ;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 8px;
}
.s2 {
    float: right;
    
    border: 1px;
    background-color:#07192a ;
    color: gainsboro;
    height: 30px;
    width: 60px;
    margin-right: 10px;
    border-radius: 8px;
}

.content {
    
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
    width: 60%;
}
.content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.main2 {
    display: inline-flex;
    width: 100%;
    height: 100vh;
   background-color:black;
   color: white;
   text-align: center;
  

}
form {
    background-color: rgba(169, 169, 169, 0.096);
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    width: 600px;
    height: 430px;
    border-radius: 8px;
    padding: 30px;
   
}
form h3{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: 900;
}
#A1{
    width: 100%;
    height: 6px;
  }
  #A2 {
    width: 100%;
    height: 6px;
  }
  #B1 {
    width: 48%;
    height: 6px;
    margin-right: 10px;
  }
  #B2 {
    width: 48%;
    height: 6px;
    margin-left: 10px;
  }
form input {
    border-radius: 10px;
    border: ;
    padding: 20px;
}
.fa-solid {
    color:gray;
    
   
}
.imgcont {
    display: inline-flex;
    margin-right: 250px;

}
img {
    border-radius: 1px;
}

  a {
  font-style: none;
  color: skyblue;
  font-size: 20px;
  }
  h2{
    font-size: 50px;
  }
  input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
    border-radius: 8px;
    box-sizing: border-box;
    background-color:#1cabf1;
  }
  .foter {
    background-color:white;
    width:1590;
    display: inline-flex;
    margin-bottom: -10px;
    margin-left: -15px;
  }
  #box {
    margin-top: 50px;
    margin-left: 70px;
    width:550px ;
  }
  #box1{
    margin-top: 50px;
    width: 330px;  
  } 
  .anc {
padding: 10px;
line-height: 25px;
  }
  #box1 a{
    color: black;
    text-decoration: none;
   font-size: medium;
   
  }
  #box2 {
  margin-top: 50px;
    width: 330px;
  }
  #box2 a{
    color: black;
    text-decoration: none;
    font-size: medium;
   
  }
  #box3 {
   margin-top: 50px;
    width: 330px;
  }
  #box3 a{
    color: black;
    text-decoration: none;
    font-size: medium;
  }
  #fimg {
    margin-top: 30px;
    
    margin-left: 100px;
    
  }
  .fa-brands {
    margin:7px;
  }
#navb {
    margin-left: 80px;
    margin-top: 170px;
  
  }
 .imgcont ul li {
    list-style-type:none;
    text-align: left;
    
    
 }
 #D1 {
    text-align: left;
 }
 #D1 a{
  
  margin-top:;
 }
 #D1 h2 {
  margin-top: 0px;
 }
 #D3 {
    font-size: large;
    padding: 0px;
    margin-right:0px;
 }
 #D2{
    font-size: small;
 }
 #d4 {
    list-style-type: none;
    display: inline-flex;
    margin-top: 30px;
    padding: 10px;
    
 }
 #D4 li{
   margin: 10px;
   padding: 10px;
   color: darkslategrey;
 }
#D5 {
  text-align: left;

}
.class {
padding-top: 10px;
}
.fa-brands {
 
  background-color: rgb(210, 221, 233);
 
  padding: 10px;
  border-radius: 8px;
}