body {
margin: 0;
padding: 0;
background-image: url(img/2Back.jpg);
background-repeat: repeat;
}
#first .navbar{
    position: fixed;
}
#first {
    background-image:url(img/1Back.jpg);
    height: 120%;
}
/* Glass Navbar start */
.navbar {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px);
    z-index: 1;
    content: justify;
}
.navbar h1{
    margin-top: 35px;
    margin-left: 50px;
    font-family: sans-serif;
    color: #747494;
    opacity: 1;
    
}
.navbar a{
    text-decoration: none;
}
.nav-list{
    list-style-type: none;
    margin-left: 300px;
    text-align: center;
    display: flex;

}
.nav-list a li{
    margin: 30px;
    margin-top: 35px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #464649;
    opacity: 1;
}
.navbar input{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer; 
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 15px 30px;
    color:white ;
    border-radius: 50px;
    background-color: #495363;
    background: linear-gradient(90deg, #56667b 0%, #919ace 100%);
    border: none;
}
/* End */

#one{
    display: flex;
    
}
.heading1 {
    width: 700px;
    height: 600px;
    margin-top: 105px;
    margin-left: 250px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px);
    z-index: 1;
    border: 1px solid white;
    opacity: 0.8;
}

.bottom-left-box1{
    position: absolute;
    left: 150px;
    bottom: -100;
    opacity: 0.6;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px) ;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: 4;
    border: 1px solid white;
}
.top-right-box2{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 800;
    opacity: 0.9;
    border: 1px solid white;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px) ;
    z-index: 2;
    border-radius: 100%;
}
.heading1 h1{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 4.1rem;
    padding: 20px;
    margin-left: 20px;
    color:#263D5A ;
}
.heading1 p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 20px;
    margin-left: 20px;
    color:#263D5A ;
}
.heading1 input{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 15px 30px;
    margin-left: 20px;
    color:white ;
    border-radius: 50px;
    background-color: #495363;
    border: none;
}
.one-text-img{
    position: relative;
    color: white;
}
/* complete end */

/* second part start */
#second{
    background-image: url(img/2Back.jpg);
    margin-top: 10px;
    padding: 0;
    height: 100%;
    background-repeat: no-repeat;
}
.main-one{
    background-color: #e1e8f5;
    border-radius: 30px;
    width: 1300px;
    margin:10px 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.one-sub1{
        width: 380px;
        margin: 10px 10px;
        padding: 10px;
}
.one-sub1 h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.one-sub1 p{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}
.one-sub1 .fa-solid{
    font-size: 40px;
    padding: 10px;
    
}
/* End */

/* Third section start */

#third{
    background-image: url(img/3Back.jpg);
    
    padding: 30px;
    height: 160%;
}
.main-third {
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    height: 700px;
    padding: 50px;
    border: 1px solid white;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px) ;
    border-radius: 30px;
}
.sub-third1-img {
    
    width: 400px;
    height: 600px;

}
.sub-third1-img img{
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 30px;
}
.sub-third21a{
    display: inline-flex;
}
.sub-third21a h1{
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2rem;
        color: #263D5A;
}
.sub-third21a input[type="button"]{
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin-top: 30px;
    margin-left: 300px;
    border-radius: 50px;
    background-color: #56667b;
    background: linear-gradient(90deg, #56667b 0%, #919ace 100%);
    border: #919ace;
    transition: all 0.3s;
    color: white;
    cursor: pointer;
}
.sub-third22b{
    display: flex;
    flex-wrap: wrap;
}
.third-sub1{
    width: 270px;
}
.third-sub1 h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#263D5A;
}
.third-sub1 p{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #56667b;
}
/* End this part */

/* OUR FEATURES wala part start */
#fourth{
    background-image: url(img/2Back.jpg);
    height: 100%;
    text-align: center;
    padding-top: 40px;
}
#fourth h3{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}
#fourth p{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 45px;
}
.fourth-mian {
    display: flex;
    width: 1200px;
    height: 300px;
    padding: 50px;
    flex-wrap: wrap;
    margin-left: 140px;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px) ;
    border-radius: 30px;
}
.sub-fourth1 {
    width: 400px;
    height: 150px;
    justify-content: space-evenly;
}
.sub-fourth1 h1 {
    font-size: 3rem;
    font-weight: bolder;
    font-family: sans-serif;
}
.sub-fourth1 h2{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}
/* End Fourth PaRT */

/* fifth part starting */
#fifth {
    text-align: center;
    background-image: url(img/4Back.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 6rem;
    padding-top: 12rem;
}
#fifth p{
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    font-weight: 100;
    color: #171718;
}
#fifth h1{
    color:#171718;
    font-size: 2rem;
    font-weight: bolder;
    font-family: sans-serif;
}
.fifth-main {
    display: flex;
    justify-content: center;
}
.sub-fifth1 {
    border: 1px solid rgb(240, 238, 238);
    width: 300px;
    height: 200px;
    margin: 30px;
    border-radius: 30px;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px) 
}
.sub-fifth1 img {
    width: 200px;
    margin: 30px;
}
/* End */

/* Start sixth part */
#sixth{
    display: flex;
}
.sixth-main {
    margin-left: 200px;
}
.sixth-main h1{
    color:#171718;
    font-size: 2rem;
    font-weight: bolder;
    font-family: sans-serif;
}
.sixth-main p{
    color:#7c7c80;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: sans-serif;
}
.sub-sixth{
    display: flex;
}
.sub-sixth1 {
   width: 400px;
}

.sub-sixth1 img{
    width: 350px;
    border-radius: 30px;
    object-fit: cover;
    height: 90%;
    margin: 20px;

}
/* panding */

/* Seventh part vedio start */
#seventh{
    background-image: url(img/background6.jpg);
    width: cover;
    height: 100%;
    margin-top: 50px;
    position: relative;
    text-align: center;
}
.main-seven {
    position: absolute;
    top: 40%;
    left: 40%;
    line-height: .05em;
    height: 200px;
    width: 300px;
}
.main-seven .icon-vedio{
    margin-top: 50px;
    
}
.icon-vedio .fa-solid{
    font-size: 4rem;
    color: #757380;
}
.fa-play:before { 
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
}
.main-seven p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    padding-top: 40px;
}
/* End */

#eight {
    background-image: url(img/4Back.jpg);
    height: 100%;
    position: relative;
    opacity: 1;
}

.eight-main{
    position: absolute;
    border: 1px solid white;
    display: flex;
    margin: 200px 100px;
    height: 200px;
    width: 80%;
    justify-content: space-evenly;
    padding: 50px;
    border-radius: 30px;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);    
    backdrop-filter: blur(3.5px);
    opacity: 1.5;
}
.sub-eight{
    position: static;
    border: 1px solid black;
    justify-content: space-evenly;
    width: 350px;
    text-align: center;
    margin-bottom: 10px;
}
/* End */
#nine {
    margin: 100px 300px;
    border-radius: 30px;
    padding-bottom: 50px;
    background-color: #ccd2df;
}
#nine-sub{
    display:inline-block;
   
}
.sub-nine1 h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 60px;
    margin-top: 40px;
    color: #495363;
    padding-top: 40px;
}
.nine-sub1{
    border-bottom: 1px dashed gray;
    flex-grow: 1;
    margin-left: 60px;
    cursor: pointer;
}
.nine-sub1 p{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 10px;
    color:#495363;
    
}
.nine-sub1 input{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: #919ace;
    margin-left: 300px;
    cursor: pointer;
}
/* End */